<h6><a href=/trips/all>all trips</a><<<a href='/countries'>all countries</a><<
<a href ='/cities/<%= @country.id %>'>back to <%= @country.name %> </a>
</h6>

<h2>The Sights of <%= @city.format_name %>, <%= @country.name %></h2>
    <% @sights.each do |sight| %>
      <ul id = "sight">
        <li><h2><%= sight.format_name %></h2></li>
          <li class = "add_padding">Comments: <%= sight.comments %>-
      <a href="/sights/<%= sight.id %>/edit"> Edit</a></li>

        <form  action="/sights/<%= sight.id %>/delete" method="POST"><input type="submit" value="Delete"></form>
      </ul>
  <% end %>
  <a href="/sights/new/<%= @city.id %>" class="button">Add a sight</a>
