<a href="/countries" class="button">Edit/Add Trips</a>

<h1><%=@title%><h1>
  <ul id = "places">

    <%@countries.each do|country|%>

      <%if Country.cities_not_visited(country.id).length != 0%>
          <h2><a href="/cities/<%= country.id %>"> <%= country.format_name %></a></h2>

       <%@cities.each do |city|%>

         <%if city.country_id == country.id%>
         <%if city.visit_status == 0%>
           <%visit_code = "  visited"%>
         <%else%>
           <%visit_code = "  still to see"%>
         <%end%>
         <li><h3><a href="/sights/<%= city.id %>">   <%=city.format_name%></a></h3>
         <a class = "visit_status" href="/cities/<%= city.id %>/edit_all">
         <h6><%=visit_code%></h6></a></li>

           <%@sights.each do |sight|%>

             <%if city.id == sight.city_id%>
               <%if sight.comments != ""%>
                 <h4><%=sight.name%>: "<%=sight.comments%>"</h4>
               <%else%>
                 <h4><%=sight.name%></h4>
              <%end%>

             <%end%>

          <%end%>

        <%end%>

     <%end%>

  <%end%>

<%end%>
</ul>
